@theme {
    --font-inter: "Inter";
    --font-tt: "Inter";
    --color-blue: #2B48F1;
    --color-white: #fff;
    --color-black: #000;
    --color-semi-black: #020202;
    --color-gray: #3C3C3A;
    --color-light-blue: #E8F1FF;
    --padding-block: 110px 0px;
}