@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Inter:600);

@import "tailwindcss";

html,
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    height: 100%;
    width: 100%;
    color: #000;
    font-size: 100%;
    background-color: #f8f8f8;
    font-size: 16px;
}

/* img {
    max-width: none;
} */

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

._container {
    max-width: 1452px;
    margin: 0 auto;
    padding: 0px 15px;
    box-sizing: content-box;
}

.wrap {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.title {
    font-weight: 700;
    font-size: 28px;
    color: var(--color-semi-black);
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .title {
        font-size: 24px;
    }
}

.button {
    background-color: var(--color-blue);
    border-radius: var(--radius-main);
    color: var(--color-white);
    font-weight: 500;
    display: inline;
    padding: 16px 50px 16px 50px;
    border: 3px solid var(--color-blue);
}

.button-border {
    cursor: pointer;
    padding: 16px 84px 16px 84px;
    border-radius: var(--radius-main);
    border: 3px solid var(--color-blue);
}

.button-border-text {
    color: var(--color-blue);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 640px) {
    .title {
        font-size: 21px;
    }

    .button-border {
        padding: 8px 25px;
        text-align: center;
    }
}

.button:hover {
  background-color: #243cc4;
}

.button-border:hover {
  background-color: rgb(223, 223, 223);
}

@theme {
    --font-inter: "Inter";
    --font-tt: "Inter";
    --color-blue: #2B48F1;
    --color-white: #fdfdfd;
    --color-black: #000;
    --color-semi-black: #020202;
    --color-gray: #3C3C3A;
    --color-light-blue: #E8F1FF;
    --padding-block: 110px 0px;
    --padding-mobile: 80px 0px;
    --radius-main: 6px;
}