@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Inter:600);

@import "tailwindcss";

html,
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    height: 100%;
    width: 100%;
    color: #000;
    font-size: 100%;
    background-color: #f8f8f8;
    font-size: 16px;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

._container {
    max-width: 1452px;
    margin: 0 auto;
    padding: 0px 15px;
    box-sizing: content-box;
}

.wrap {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

@theme {
    --font-inter: "Inter";
    --font-tt: "Inter";
    --color-blue: #2B48F1;
    --color-white: #fff;
    --color-black: #000;
    --color-semi-black: #020202;
    --color-gray: #3C3C3A;
    --color-light-blue: #E8F1FF;
    --padding-block: 110px 0px;
}